<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                     
<mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.RecursoRentadoMapper">
    <resultMap id="RecursoRentadoMapper" type="RecursoRentado">
        <id property="id" column="id"/>
        <result property="fechaInicioRenta" column="fecha_ini"/>
        <result property="fechaFinRenta" column="fecha_fin"/>
        <association property="recurso" javaType="Recurso" resultMap="RecursoResult" columnPrefix="re_"></association>
    </resultMap>
</mapper>