<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.persistence.mybatisimpl.mappers.RecursoMapper">
    <resultMap id="RecursoResult" type="edu.eci.cvds.entities.Recurso">
        <id property="identificadorInterno" column="id_interno"/>
        <result property="nombre" column="nombre"/>
        <result property="ubicacion" column="ubicacion"/>
        <result property="capacidad" column="capacidad"/>
        <result property="estado" column="estado"/>
        <association property="tipoRecurso" javaType="edu.eci.cvds.entities.TipoRecurso" resultMap="TipoRecursoResult"
                     columnPrefix="tr_"/>
    </resultMap>

    <insert id="registraNuevoRecurso" parameterType="map">
        insert into RECURSOS(id_interno,nombre,ubicacion,capacidad,TIPORECURSO_id) values
        (#{recurso.identificadorInterno},#{recurso.nombre},#{recurso.ubicacion},#{recurso.capacidad},#{recurso.tipoRecurso.id});
    </insert>

    <delete id="eliminarRecursoPermanente" parameterType="map">
        delete from RECURSOS where id_interno=#{recurso.identificadorInterno};
    </delete>

    <update id="eliminarRecursoTemporal" parameterType="map">
        update RECURSOS SET estado=false WHERE id_interno=#{recurso.identificadorInterno};
    </update>

    <update id="volverAAdmitirRecurso" parameterType="map">
        update RECURSOS SET estado=true WHERE id_interno=#{recurso.identificadorInterno};
    </update>

    <select id="consultarRecursos" parameterType="map" resultMap="RecursoResult">
        select * FROM
        recurso left join tipo_recurso on id_tipo=id;
    </select>

    <select id="consultarRecurso" parameterType="map" resultMap="RecursoResult">
        select * FROM recurso left join tipo_recurso on id_tipo=id where recurso.id_interno=#{id}
    </select>

</mapper>